{% extends "backend/layout/base.html" %}

{% block header %}
    <h1>{% block title %}Usuarios{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div class="col-md-12 text-end">
        <a class="btn btn-success" href="{{ url_for('backend.user.create') }}">Crear nuevo</a>
    </div>
    <div class="col-md-12">
        <table id="table_users" class="table table-striped table-hover table-sm" style="width:100%">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>NOMBRE</th>
                    <th>EMAIL</th>
                    <th>EDITAR</th>
                    <th>ELIMINAR</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>ID</th>
                    <th>NOMBRE</th>
                    <th>EMAIL</th>
                    <th>EDITAR</th>
                    <th>ELIMINAR</th>
                </tr>
            </tfoot>
        </table>

    </div>
{% endblock %}

{% block scripts %}
    <script>
        jQuery(document).ready(function() {
            jQuery('#table_users').DataTable({
                bProcessing: true,
                bServerSide: true,
                sPaginationType: "full_numbers",
                lengthMenu: [[10, 25, 50, 100], [10, 25, 50, 100]],
                bjQueryUI: true,
                sAjaxSource: '{{ url_for("backend.datatables.serverside_table", tabla="users") }}',
                columns: [
                  {"data": "ID"},
                  {"data": "NOMBRE"},
                  {"data": "EMAIL"},
                  {"data": "EDITAR"},
                  {"data": "ELIMINAR"}
                ],
                language: {
                    'lengthMenu': 'Mostrar _MENU_ Usuarios',
                    'zeroRecords': 'No hay Usuarios',
                    'info': 'Mostrando pagina _PAGE_ de _PAGES_',
                    'infoEmpty': 'No hay Usuarios disponibles',
                    'infoFiltered': '(Total: _MAX_ Usuarios)',
                    'search': 'Buscar'
                }
            });
        });
    </script>
{% endblock %}
