{% extends "backend/layout/base.html" %}

{% block title %}
	Editando: {{ blogpost[1].title }}
{% endblock %}

{% block header %}
    <h1>Editando post <u class="text-muted">{{ blogpost[1].title }}</u></h1>
{% endblock %}

{% block content %}
    <div class="col-md-12">
        <form class="row" action="{{ url_for('backend.blog.update', id=blogpost[1].id) }}" method="POST" enctype="multipart/form-data">
            <div class="col-md-4 mb-3">
                {{ formulario.author_id.label() }}
            	<select class="form-control" name="author_id">
            		<option value="">:: Elige autor ::</option>
			        {% for user in users %}
                		{% if user.id == blogpost[1].author_id %}
			            	<option value="{{ user.id }}" selected>{{ user.nombre }}</option>
                		{% else %}
			            	<option value="{{ user.id }}">{{ user.nombre }}</option>
                		{% endif %}
			        {% endfor %}
            	</select>
                {% if formulario.author_id.errors %}
                    <ul class="text-danger">
                    {% for error in formulario.author_id.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            </div>
            <div class="col-md-4 mb-3">
                {{ formulario.title.label() }}
                {{ formulario.title(class="form-control") }}
                {% if formulario.title.errors %}
                    <ul class="text-danger">
                    {% for error in formulario.title.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            </div>
            <div class="col-md-4 mb-3">
                {{ formulario.img.label() }}
                {{ formulario.img(class="form-control") }}
                {% if formulario.img.errors %}
                    <ul class="text-danger">
                    {% for error in formulario.img.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            </div>
            <div class="col-md-12 mb-3">
                {{ formulario.contenido.label() }}
                {{ formulario.contenido(class="form-control") }}
                {% if formulario.contenido.errors %}
                    <ul class="text-danger">
                    {% for error in formulario.contenido.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            </div>
            <div class="col-md-12 mb-3">
                {{ formulario.submit(class="btn btn-primary float-end") }}
                <!--
                    Para evitar ataques CSRF generamos un token mediante la librería WTForms. Para que se genere, previamente debe estar declarada app.secret_key
                -->
                {{ formulario.hidden_tag() }}

                <a href="{{ url_for('backend.blog.index') }}" type="button" class="btn btn-danger float-start">Cancelar</a>
            </div>
        </form>
    </div>
{% endblock %}