{% extends "backend/layout/base.html" %}

{% block header %}
    <h1>{% block title %}BlogPosts{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div class="col-md-12 text-end">
        {% if g.user %}
            <a class="btn btn-success" href="{{ url_for('backend.blog.create') }}">Crear nuevo</a>
        {% endif %}
    </div>
    <div class="col-md-12">
        <table id="table_blogposts" class="display" style="width:100%">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Autor</th>
                    <th>Título</th>
                    <th>Creado</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>ID</th>
                    <th>Autor</th>
                    <th>Título</th>
                    <th>Creado</th>
                    <th></th>
                    <th></th>
                </tr>
            </tfoot>
        </table>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        jQuery(document).ready(function() {
            jQuery('#table_blogposts').DataTable({
                bProcessing: true,
                bServerSide: true,
                sPaginationType: "full_numbers",
                lengthMenu: [[10, 25, 50, 100], [10, 25, 50, 100]],
                bjQueryUI: true,
                sAjaxSource: '{{ url_for("backend.datatables.serverside_table", tabla="blog") }}',
                columns: [
                  {"data": "ID"},
                  {"data": "AUTOR"},
                  {"data": "TÍTULO"},
                  {"data": "CREADO"},
                  {"data": "EDITAR"},
                  {"data": "ELIMINAR"}
                ],
                language: {
                    'lengthMenu': 'Mostrar _MENU_ Blogposts',
                    'zeroRecords': 'No hay Blogposts',
                    'info': 'Mostrando pagina _PAGE_ de _PAGES_',
                    'infoEmpty': 'No hay Blogposts disponibles',
                    'infoFiltered': '(Total: _MAX_ Blogposts)',
                    'search': 'Buscar'
                }
            });
        });
    </script>
{% endblock %}
