{% extends "frontend/layout/base.html" %}

{% block header %}
    <h1>{% block title %}Blog{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div class="col-md-12">
        <div class="row">
            <nav>
                <ul class="pagination pagination-lg justify-content-center">
                    {% for page in post_pagination.iter_pages() %}
                        {% if page %}
                            {% if page != post_pagination.page %}
                                <li class="page-item">
                                    <a class="page-link" href="{{ url_for('frontend.blog', page=page) }}">{{ page }}</a>
                                </li>
                            {% else %}
                                <li class="page-item active" aria-current="page">
                                    <a class="page-link" href="#">{{ page }}</a>
                                </li>
                            {% endif %}
                        {% else %}
                            <span class=ellipsis>…</span>
                        {% endif %}
                    {% endfor %}
                </ul>
            </nav>
        </div>

        <div class="row">
            {% for post in post_pagination.items %}
                <div class="col-sm-3 mb-4">
                    <div class="card">
                        {% if post[0].img %}
                            <img src="{{ url_for('static', filename='img/') }}{{ post[0].img }}" class="card-img-top" alt="{{ post[0].title }}">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title" style="height: 50px;">{{ post[0].title }}</h5>
                            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">
                                Creado por {{ post[1].nombre }} el {{ post[0].created_at.strftime('%Y-%m-%d') }}
                            </a>
                            <p class="card-text">{{ post[0].contenido[:45] }}...</p>
                            <a href="blog/{{ post[0].id }}" class="btn btn-primary">Ver más</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="row">
            <nav>
                <ul class="pagination pagination-lg justify-content-center">
                    {% for page in post_pagination.iter_pages() %}
                        {% if page %}
                            {% if page != post_pagination.page %}
                                <li class="page-item">
                                    <a class="page-link" href="{{ url_for('frontend.blog', page=page) }}">{{ page }}</a>
                                </li>
                            {% else %}
                                <li class="page-item active" aria-current="page">
                                    <a class="page-link" href="#">{{ page }}</a>
                                </li>
                            {% endif %}
                        {% else %}
                            <span class=ellipsis>…</span>
                        {% endif %}
                    {% endfor %}
                </ul>
            </nav>
        </div>
    </div>
{% endblock %}