{% extends "backend/layout/base.html" %}

{% block header %}
    <h1>{% block title %}Log In{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div class="col-md-4 border rounded p-4 m-auto">
        <form class="row" action="{{ url_for('backend.auth.store') }}" method="POST">
            <div class="col-md-12 mb-3">
                {{ formulario.email.label() }}
                {{ formulario.email(class="form-control", value="official.dduran@gmail.com") }}
                {% if formulario.email.errors %}
                    <ul class="text-danger">
                    {% for error in formulario.email.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            </div>
            <div class="col-md-12 mb-3">
                {{ formulario.contrasena.label() }}
                {{ formulario.contrasena(class="form-control", type="password", value="abc") }}
                {% if formulario.contrasena.errors %}
                    <ul class="text-danger">
                    {% for error in formulario.contrasena.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            </div>
            <div class="col-md-12 mb-3">
                <label>.</label>
                {{ formulario.submit(class="btn btn-primary w-100") }}
                <!--
                    Para evitar ataques CSRF generamos un token mediante la librería WTForms. Para que se genere, previamente debe estar declarada app.secret_key
                -->
                {{ formulario.hidden_tag() }}
            </div>
            <div class="col-md-12 mb-3">
                <label>.</label>
                {{ formulario.recaptcha }}
                {% if formulario.recaptcha.errors %}
                    <ul class="text-danger">
                    {% for error in formulario.recaptcha.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </form>
    </div>
{% endblock %}