{% extends "backend/layout/base.html" %}

{% block header %}
    <h1>{% block title %}Bienvenido{% endblock %}</h1>
{% endblock %}

{% block content %}
	<div class="col-md-12">
		<div class="alert alert-primary">
            {% if current_user.is_authenticated %}
				<h5>Ingresaste como:</h5>
				<table class="table table-small">
					<tbody>
						<tr>
							<td>ID:</td>
							<td>{{ current_user.id }}</td>
						</tr>
						<tr>
							<td>NOMBRE:</td>
							<td>{{ current_user.nombre }}</td>
						</tr>
						<tr>
							<td>EMAIL:</td>
							<td>{{ current_user.email }}</td>
						</tr>
					</tbody>
				</table>
            {% endif %}
		</div>
	</div>
{% endblock %}