<table border="1" width="50%">
	<thead>
		<tr>
			<th colspan="2"><h3>{{ nombre }} ha enviado la siguiente información</h3></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td style="padding: 5px;"><strong>NOMBRE:</strong></td>
			<td style="padding: 5px;">{{ nombre }}</td>
		</tr>
		<tr>
			<td style="padding: 5px;"><strong>EMAIL:</strong></td>
			<td style="padding: 5px;">{{ email }}</td>
		</tr>
		<tr>
			<td style="padding: 5px;"><strong>MENSAJE:</strong></td>
			<td style="padding: 5px;">{{ mensaje }}</td>
		</tr>
		<tr>
			<td style="padding: 5px;"><strong>DOCUMENTO:</strong></td>
			<td style="padding: 5px;">{{ documento }}</td>
		</tr>
	</tbody>
</table>
